
<%- include ("../partials/header") %>
<div class="container">
	<div class='row'>
		<div class='col-md-3'>
			<p class='lead'>Score Show Page</p>
			<div class='list-group'>
				<li class='list-group-item active'>Info 1</li>
				<li class='list-group-item'>Info 2</li>
				<li class='list-group-item'>Info 3</li>
			</div>
		</div>
		<div class='col-md-9'>
			<div class='thumbnail'>
					<div>
						<li>Player 1: <%= wynik.ktoG %></li>
						<li>Player 2: <%= wynik.kto %></li>
						<li>I played:  <%= wynik.stronnictwo %></li>
						<li>My oponennt played:  <%= wynik.opponent%></li>
						<li>Winner: <%= wynik.wygral %></li>
						<li>Rebel Base start system:  <%= wynik.base %></li>
						<li>Round:  <%= wynik.round %></li>
						<li>Rebel marker: <%= wynik.token %></li>
					</div>

				<p><em>Submitted By <%=wynik.author.username%></em></p>
				<% if(currentUser && wynik.author.id.equals(currentUser._id)){%>
<a class="ui orange basic button" href="/wynik/<%=wynik._id%>/edit">Edit</a>
			<form id="delete" action="/wynik/<%=wynik._id%>?_method=DELETE" method="POST">
				<button class="ui red basic button">DELETE</button>
			</form>
				<% }%>
				<div class='caption-full'>

				</div>
			</div>
			<div class='well'>
				<div class="text-right">
					<a class="btn btn-success" href="/wynik/<%=wynik._id%>/comments/new">Add New Comment</a>
				</div>
				<hr>
					<%wynik.comments.forEach(function(comment){ %>
						<div class='row'>
							<div class='col-md12'>
								<strong><%=comment.author.username %></strong>
								<span class='pull-right'>10 days ago</span>
								<p><%=comment.text%></p>
								<% if(currentUser && comment.author.id.equals(currentUser._id)){%>
								<a class="btn btn-xs btn-warning"								href="/wynik/<%=wynik._id%>/comments/<%=comment._id%>/edit">Edit</a>
								<form class="delete-form" action="/wynik/<%=wynik._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
									<input type="submit" class="btn btn-xs btn-danger" value="Delete">

								</form>
							<% }%>
							</div>
						</div>
				<%});%>
			</div>
		</div>
	</div>
</div>






<%- include("../partials/footer") %>