


<%- include ("../partials/header") %>


<div class="container">
	<header class="jumbotron">
		<div class="container">
			
		
			<h1>Witaj w rankingu Star Wars Rebelii!</h1>
			<p>
				Dodawaj swoje wyniki, z rozgrywek z znajomymi, lig, czy batali z ciemna 			strona mocy!!!
			</p>
			<p>
			<a class="btn btn-primary btn-lg" href="/wynik/new">Dodaj wynik</a>
		</div>
	</header>

	
	<div class="row text-center" style="display: flex; flex-wrap: wrap;">
		<% wynik.forEach(function(wyniki){ %>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
					<div class="caption">
						<div>
						<li>Gral: <%= wyniki.ktoG %></li>
						<li>Dzis gre: <%= wyniki.wygral %></li>
						<li>Gralem dzis  <%= wyniki.stronnictwo %></li>
						<li>Wersja gry:  <%= wyniki.wersja %></li>
						<li>Baza byla na:  <%= wyniki.base %></li>
						<li>Byla runda:  <%= wyniki.round %></li>
						<li>Znacznik rebeli byl na: <%= wyniki.token %></li>	 
					</div>	
				</div>
					<p>
						<a href="/wynik/<%=wyniki._id %>" class="btn btn-primary">More 							Info</a>
					</p>
			</div>	
		</div>
		<%}); %>
	</div>
	
</div>
<%- include("../partials/footer") %>
