


<%- include ("../partials/header") %>


<div class="container">
	<header class="jumbotron">
		<div class="container">


			<h1>Welcome galactic adventure !!</h1>
			<p>
				On this page you can record your score from best Star Wars strategic board Game SW Rebellion. Record your score , Check Ranking game results and remember always be ware Dark Side never sleep!!!
			</p>
			<p>
			<a class="btn btn-primary btn-lg" href="/wynik/new">Add New Result</a>
			<a class="btn btn-primary btn-lg" href="/map">Check Map</a>
		</div>
	</header>


	<div class="row text-center" style="display: flex; flex-wrap: wrap;">
		<% wynik.forEach(function(wyniki){ %>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
					<div class="caption">
						<div>
							<li>Player 1: <%= wyniki.ktoG %></li>
							<li>Player 2: <%= wyniki.kto %></li>
							<li>I played:  <%= wyniki.stronnictwo %></li>
							<li>My oponennt played:  <%= wyniki.opponent%></li>
							<li>Winner: <%= wyniki.wygral %></li>
							<li>Rebel Base start system:  <%= wyniki.base %></li>
							<li>Round:  <%= wyniki.round %></li>
							<li>Rebel marker: <%= wyniki.token %></li>
					</div>
				</div>
					<p>
						<a href="/wynik/<%=wyniki._id %>" class="btn btn-primary">More Info</a>
					</p>
		</div>
		</div>
		<%}); %>
	</div>

</div>
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<%- include("../partials/footer") %>
